.App {
  display: flex;
  background-color: brown;
  width: 99.4%;
  height: 70px;
  padding: 5px;
  position: sticky;
  top: 0;
  flex-direction: row;
}

.Input {
  margin-top: 15px;
  margin-left: 170px; 
  width: 600px; 
  height: 35px;
  font-size: 21px; 
  font-family: fontawesome;
  border-radius: 5px;
}

.button {
  color:white;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  width: 150px;
  padding: 5px;
  background-color: brown;
}

.login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 550px;
  margin-right: 420px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 3%;
  color: black;
  background-color: white(155, 56, 56);
  border: 2px groove black;
}

.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 200px;
  margin-left: 18px;
}

/* .ellipsis:hover{
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
} */

.info:hover .bookInfo{
  width: 500px;
  display: block;
  position: absolute;
  min-height: 90px;
  width: 300px;
  margin-left: 270px;
  margin-top: -388px;
  background-color: white;
  /* z-index: 1; */
  outline-style: groove;
  outline-width: 0.1px;
  outline-color: grey;
}

.bookInfo {
  position: absolute;
  display: none;
}